

a:link {
	color: #037b7f;
	text-decoration: underline;
}

a:visited {
	color: #037b7f;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

html,
body {
	line-height: 1.33;
	background: #111;
	color: #eee;
}

#top {
	margin: 2em;
	font-size: 100%;
}

#top a:link ,
#top a:visited ,
#top a:hover {
	color: #fff;
	text-decoration: none;
}

#content {
	margin: 2em;
}

table.tasks {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

table.tasks td,
table.tasks th {
	font-size: 85%;
	padding: 0.5em;
	border-style: solid;
	border-width: 1px;
	border-color: #333;;
	white-space: nowrap;
	overflow: hidden;
}

th.act,
td.act {
	text-align: center;
	width: 3em;
}

th.uri,
td.uri {
}

th.progress,
td.progress {
	width: 15%;
}

td.progress span.progressbar {
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	background: #03677f;
	color: #fff;
	text-align: right;
}

td.progress span.progressnum {
	padding: 1em;
}

th.message,
td.message {
	width: 20em;
}

tr.odd td {
	background: #111;
}

tr.even td {
	background: #222;
}
